.rubik-bubbles-regular, h1 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .profile-image {
    display: block;
    width: 400px;
    height: 400px; 
    border-radius: 50%; 
    object-fit: cover;
  }